<!DOCTYPE html>
<html>
{% extends 'base.html' %}
<head>
    <title>{% block title %}about us{% endblock %}</title>
	{% block style %}{% endblock %}
</head>
<body>
{% block content %}
<h2>About Us</h2>
<p>Need help with voting ? You've come to the right place . E_voting is a website dedicated to helping
voting act .</p>
<p>It has resources for voters, including voter guides, registration information, voting accessibility, and
information for overseas voters; You can register by mail to vote using the National Mail Voter
Registration Form.<p/>
<p>E-voting is also charged with creating voting system guidelines including several ressources for voters
;here we will help you :<p>
<ul>
<li>Register to Vote : learn how and where to register; and find information on voter eligibility.</li>
<li> Find the registration Deadlines</li>
<li>Learn about Elections and Voting</li>
<li></li>know "Where Do You Vote"?<br/>
   Find your polling location and hours on your governorate election website...</li>
<li><p>Learn more about the candidates :You may want to prepare for Election Day by finding out
who's running for office before you go to the voting booth ; here you'll find the needed
information</p></li>

<li>Be informed about the election events , where and when you get to participate in the voting
process .</li>
</ul>
<p>Note : e-voting provides web-surfers with a Virtual Public Forum offering a public platform where visitors
can view and provide comments on the voting process .
If you
have any questions about using the Virtual Public Forum, please Contact Us.</p>
{% endblock %}
{% block scripts %}
{% endblock %}
</body>
</html>
