<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% load static %}
<head>
<title>{% block title %}{% endblock %}</title>
{% block style %}
    <link href=" {% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <style>
    .carousel-inner {
        overflow: visible;
    </style>
{% endblock %}
</head>
<body>
  {% block content %}
	{% if events %}

  <section id="main-slider" class="carousel">
  <div id="carousel-inner" class="carousel-inner">

	{% for event in events %}
            <div class="item {% if forloop.first %}active{% endif %}">
                <div class="container">
                    <div class="carousel-content">
                        <h1>{{ event.nom }}</h1>
			            <h3>register ends at {{ event.date_fin_register }}</h3>
			            <h3>votes ends at {{ event.date_fin_vote }}</h3>
                        <p class="lead">{{ event.description }}</p>
                        <a href="/choice/{{ event.nom }}/" class="btn btn-success">see candidates</a>
                    </div>
                </div>
            </div><!--/.item-->
	{% endfor %}


   </div><!--/.carousel-inner-->
        <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
        <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
   </section>
    {% else %}
        	<h2> no Events available Yet  </h2>
	{% endif %}
	{% endblock %}
    {% block scripts %}
    <script src=" {% static  'js/jquery.isotope.min.js' %}"></script>
    <script src=" {% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src=" {% static 'js/main.js' %}"></script>
        <script>
            $('#carousel-inner').carousel({
  interval: 5000
})
    </script>
    {% endblock %}
</body>
</html>
